/* Contenedor principal */
.indexMain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  background-color: #F1EFE7;
}

/* Estilos del video */
.indexHero {
  display: block;
  width: 100%;
  max-width: 45%; /* Reducido de 60% a 45% */
  height: auto;
}