/* normalize.css */

/* Reset básico y asegurarse de que html y body ocupen el 100% de la pantalla */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F1EFE7;
}
/* Aseguramos que todos los elementos usen box-sizing border-box */
* {
    box-sizing: border-box;
}

/* Fuente base para elementos comunes */
body, h1, p, button, input {
    font-family: Arial, sans-serif;
}
